{% extends 'tasks/base.html' %}
{% block content %}

<div class="d-flex justify-content-between align-items-center mb-4">
    <div>
        <h4>Hello, {{ request.user|title }}</h4>
        <h6 class="text-muted">You have <i>{{ count }}</i> incomplete task{{ count|pluralize:"s" }}</h6>
    </div>
    <a href="{% url 'task-create' %}" class="btn btn-primary">Add New Task</a>
</div>


<div class="list-group">
    {% for task in tasks %}
        <div class="list-group-item d-flex flex-column align-items-start gap-2">
            
            <div>
                {% if task.completed %}
                    <strike><a href="{% url 'task-update' task.id %}" class="text-decoration-none text-muted h5">{{ task.title }}</a></strike>
                {% else %}
                    <a href="{% url 'task-update' task.id %}" class="text-decoration-none text-dark h5">{{ task.title }}</a>
                {% endif %}
            </div>

            <div>
                <a href="{% url 'task-delete' task.id %}" class="btn btn-sm btn-outline-danger">Delete</a>
            </div>
        </div>
    {% empty %}
        <div class="list-group-item">
            <p class="mb-0 text-center">You have no tasks.</p>
        </div>
    {% endfor %}
</div>

{% endblock content %}
